/* Build in gauge widget style is scoped in form.dashboard-widget-gague copy to scope of current widget */
form.dashboard-widget-gaugemax .fields-group.fields-group-colors, form.dashboard-widget-gaugemax .fields-group.fields-group-description, form.dashboard-widget-gaugemax .fields-group.fields-group-value, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc, form.dashboard-widget-gaugemax .fields-group.fields-group-needle, form.dashboard-widget-gaugemax .fields-group.fields-group-scale, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds {
    display: grid;
    grid-template-columns: minmax(100px, max-content) 1fr max-content minmax(95px, max-content);
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors label, form.dashboard-widget-gaugemax .fields-group.fields-group-description label, form.dashboard-widget-gaugemax .fields-group.fields-group-value label, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc label, form.dashboard-widget-gaugemax .fields-group.fields-group-needle label, form.dashboard-widget-gaugemax .fields-group.fields-group-scale label, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds label {
    text-align: right;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors hr, form.dashboard-widget-gaugemax .fields-group.fields-group-description hr, form.dashboard-widget-gaugemax .fields-group.fields-group-value hr, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc hr, form.dashboard-widget-gaugemax .fields-group.fields-group-needle hr, form.dashboard-widget-gaugemax .fields-group.fields-group-scale hr, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds hr {
    grid-column: 1 / -1;
    margin: 0;
    width: 100%;
    border: solid #ebeef0;
    border-width: 1px 0 0 0;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-description .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-value .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-needle .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-scale .field-fluid, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds .field-fluid {
    grid-column: 2 / -1;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-description .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-value .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-needle .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-scale .offset-3, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds .offset-3 {
    grid-column-start: 3;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-description .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-value .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-needle .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-scale .field-size input, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds .field-size input {
    margin-right: 5px;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-description .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-value .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-value-arc .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-needle .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-scale .form-field, form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds .form-field {
    line-height: 24px;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-colors {
    grid-template-columns: repeat(3, minmax(100px, max-content) 1fr);
}

form.dashboard-widget-gaugemax .fields-group.fields-group-description .form-field:nth-child(1) {
    grid-column: 1 / -1;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-value .units-show {
    display: flex;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-value .units-show label[for='units'] {
    width: 100%;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-scale .scale-show {
    display: flex;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-scale .scale-show label[for='scale_show_units'] {
    width: 100%;
}

form.dashboard-widget-gaugemax .fields-group.fields-group-thresholds .form-field:first-child {
    grid-column: 1 / -1;
}

div.dashboard-widget-gaugemax {
    overflow-x: hidden;
}

div.dashboard-widget-gaugemax .dashboard-grid-widget-body a {
    display: block;
}

div.dashboard-widget-gaugemax .dashboard-grid-widget-body a:hover, div.dashboard-widget-gaugemax .dashboard-grid-widget-body a:focus, div.dashboard-widget-gaugemax .dashboard-grid-widget-body a:active {
    border: 0;
}

div.dashboard-widget-gaugemax .dashboard-grid-widget-body a svg {
    display: block;
}

/* Custom styles */
.graphmax {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
    align-items: start;
}
.graphmax .form-field.time-period {
    width: 290px;
}

.dashboard-widget-gaugemax a {
    z-index: 10;
    position: relative;
}
